h1 {
  font-weight: normal;
  text-align: center;
  font-family: 'AlfaSlabOne';
  letter-spacing: 0em;
}

p {
  font-family: Roboto;
  text-align: center;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid #000000
}

body {background-color: #97adc7}